body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #111315;
}


.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #1b1d20;
    padding: 30px;
    margin: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.login_form{
    width: 300px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -10px;
}

.login_form h2{
    color: #d80e0e;
    padding: 10px;
    /* text-align: center; */
    font-weight: bold;
    font-size: 24px;
}

.login_form label{
    color: white;
    padding: 10px;
    display: inline-block;
    width: 30%;
    text-align: left;
    margin-bottom: 10px;
    font-size: 18px;
}

.login_form input{
    display: inline-block;
    width: 143px;
    height: 11px;
}

.login_form button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #4CAF50; /* Green color */
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
}

.login_form button:hover {
    background-color: #3e8e41; /* Darker green color on hover */
}

input{
    border: none;
    border-radius: 3px;
    margin: 8px;
    height: 20px;
    padding:12px;
    background-color: #111315;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
}

input:focus{
    outline: none;
    border-color: #d80e0e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    caret-color: #ccc;
    color: #fff;
}

